{% extends 'base.html' %}

{% block TITLE%} Viv-s {% endblock %}

{% block CONTENT %}
              <!--  <div class="container-fluid">
             {% for element in project_list %}
                    <div id="cover-container" class="">
                        <a href="{% url 'vivs_app:project:project_detail'  %}">
                         {% if element.cover %}
                            <img src="{{ element.cover.url }}" />
                          {% endif %}
                        </a>
                    </div>
                {%endfor%}
                </div> -->
{% endblock %}
