{% spaceless %}
{% load bootstrap3 %}
{% load staticfiles %} <!-- per caricare i file della cartella "static" che chiederemo al server di cariare poiche django non legge velocemente altri file diversi da python -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/media/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/media/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/media/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/media/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/media/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/media/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/media/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/media/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/media/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/media/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/media/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/media/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/media/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/media/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/media/manifest.json">
    <link rel="mask-icon" href="/media/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="/media/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/media/mstile-144x144.png">
    <meta name="msapplication-config" content="/media/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Title -->
    <title>{% block TITLE %}Viv-s{% endblock %}</title>

    <!-- Custom styles for this template -->
      {% bootstrap_css %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" >
    <link href="{% static 'css/projectDetails.css' %}" rel="stylesheet" >
    <link href="{% static 'css/about.css' %}" rel="stylesheet" >
</head>

<body>
    {% if request.get_full_path = "/index/" %}
    <object id="svg_sfondo" type="image/svg+xml" data="{% static 'svg/vivsite-opt-img-3-1.svg' %}" class="sfondo">
        Viv-s background <!-- fallback image in CSS -->
    </object>
    {% endif %}
    {% if '/task' in request.path %}
    <object id="svg_sfondo" type="image/svg+xml" data="{% static 'svg/vivsite-opt-img-3-2.svg' %}" class="sfondo">
        Viv-s background <!-- fallback image in CSS -->
    </object>
    {% endif %}
    {% if '/works/' in request.path %}
    <object id="svg_sfondo" type="image/svg+xml" data="{% static 'svg/vivsite-opt-img-3-2.svg' %}" class="sfondo">
        Viv-s background <!-- fallback image in CSS -->
    </object>
    {% endif %}
    <nav id="header" class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a id="logo" class="navbar-brand" href="{% url 'vivs_app:project:dashboard' %}"><img src="{% static 'img/logo.png' %}" alt="viv-s logo" /></a>
        </div>
        <div id="navbar-right" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'vivs_app:project:about' %}">about</a></li>
            <li><a href="{% url 'vivs_app:project:works' %}">works</a></li>
            <li><a href="{% url 'vivs_app:project:contact' %}">contacts</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="content" class="container-fluid">
      <div class="row">
        <div id="left-section" class="col-sm-3 col-md-2 sidebar"> <!-- class sidebar -->
            {% if '/works/' in request.path %}
                <h4>all works</h4>
                <ul id="all_works" class="works nav nav-sidebar">
                    {% for element in project_list %}
                    <li><a  name="{{element}}" href="http://127.0.0.1:8000/index/project/?page={{ element.id }}">{{element}}</a></li>
                    {% endfor %}
                </ul>
            {% elif '/task/' in request.path %}
                <h4>{{task_filter}} works</h4>
                <ul id="task_works" class="works nav nav-sidebar">
                {% for element in task_filter.projects.all %}
                <li><a  name="{{element}}" href="http://127.0.0.1:8000/index/project/?page={{ element.id }}">{{element}}</a></li>
                {%endfor%}
                </ul>
            {% else %}
                <h4>last works</h4>
                <ul id="last_works" class="works nav nav-sidebar">
                    {% for element in limit_project_list %}
                    <li><a name="{{element}}" href="http://127.0.0.1:8000/index/project/?page={{ element.id }}">{{element}}</a></li>
                    {%endfor%}
                </ul>
            {% endif %}

             {% if not '/works/' in request.path %} <!-- in python se una cosa è  = 0, in booleano = "false" -->
            <h4>tasks</h4>
            <ul id="tasks" class="nav nav-sidebar">
            {% for element in task_list %} <!-- "parcours" = context_object_name in view/Parcours -->
            <li>
                <a href="{% url 'vivs_app:project:task_filter_view' pk=element.id%}" name="{{element}}">{{element}}</a>
                <!--<a name="{{element}}">{{element}}</a>-->
            </li>
            {%endfor%}
</ul>
            {% endif %}
            <div id="legal">
                <a id="mentions" href="{% url 'vivs_app:project:mentions_legales' %}">mentions légales</a>
                <p id="copyright">©2016 Viviana Paga</p>
            </div>

        </div>
        <div id="main-content" class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-3 main">
            {% block CONTENT %}{% endblock %}
        </div>
      </div>
    </div>

    <!--<footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    {% bootstrap_javascript %}
    <script type="text/javascript" src="{% static 'js/svg.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/effects.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/svg2.js' %}" charset="utf-8"></script>

</body>
</html>

{% endspaceless %}